
* {
  margin: 0;
  padding: 0;
}

[id] {
	scroll-margin-top: 10em;
}

:root {
  --background-colorA: rgba(255,255,255,.5);
  --background-colorB: #f6f6f6;
  --indie-projects-color: #f5f5f5;
  --uni-projects-color: #f1f1f;
  --navbar-color: #A7BC5B;
  --text-colorA: #8DA242;
  --text-colorB: #A7BC5B;
  --text-colorC: #FFFFFF;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,h2,h3 {
  color: var(--text-colorA);
  text-align: center;
  margin: 0;
  font-family: Raleway, sans-serif;
}

h2 {
  font-size: 38px;
}

p, li {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: var(--navbar-color);
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
	margin: 0;
  display: flex;
  font-size: 22px;
  justify-content: flex-end;
  align-items: center;
  min-height: 7vh;
  background-color: var(--navbar-color);
}

nav a {
  color: var(--text-colorC);
  padding: 10px 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

nav a:hover {
  transform: scale(1.1);
}

#welcome-section {
  background-color: var(--background-colorA);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name{
  margin:0;
  font-size: 4rem;
  color: var(--text-colorA);
  font-family: Raleway, sans-serif; 
  padding-left: 10px;
}

#sub-name {
  margin:0;
  font-size:22px;
  color: var(--text-colorB);
  font-family: 'Roboto Mono', monospace;
}

#about {
  background-color: var(--background-colorB);
  min-height: 10vh;
  padding-bottom: 15px;
}

#about p, hr {
  margin: auto;
  padding-left:3%;
  padding-right: 3%;
  width: 95%;
}

#about ul {
  text-decoration: none;
}

#about p {
  margin-bottom: 10px;
}

#about li {
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

#projects {
  background-color: var(--background-colorB);
  min-height: 100vh;
}

#projects h2 {
  width: 100%;
}

#contact {
  background-color: var(--background-colorA);
  min-height: 83vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#socials  {
	font-family: Raleway, sans-serif;
	color: var(--navbar-color);
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height 80vh;
}

#footer {
  background-color: var(--navbar-color);
  min-height: 10vh;
  color: var(--text-colorC);
  font-family: 'Roboto Mono', sans-serif;
  margin: 10px auto;
}

.rounded-img{
  border-radius: 50%;
  border-width: 5px;
  border-color: var(--text-colorB);
  border-style: solid;
}

.btn {
  transition: transform 0.3s ease-out;
  padding: 1rem 2rem;
  text-shadow: 2px 2px 1px #ddd;
}

.btn:hover {
  transform: translateY(8px);
}


.projects {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 30%));
  grid-template-rows: minmax(180px, 30%);
  row-gap: 5%;
  justify-content: space-around;
  margin: 20px auto 20px auto;
  padding-bottom: 5%
}

.project-tile {
  width: 100%;
  height: 100%;
  min-width: 300px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  text-align: justify;
}
.project-tile ul {
  padding-left: 15px;
}

.project-tile p {
	text-align: center;
	color: var(--text-colorA);
	font-family: 'Roboto Mono', sans-serif;
	font-size: 16px;
}

.project-tile img {
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px;
}

.project-tile button {
  display: block;
  margin: auto;
  padding: 10px;
  margin: 10px auto 10px auto;
  width: 85%;
  border-radius: 5px;
  background-color: var(--navbar-color);
  color: white;
  font-size: 14px;
  font-family: 'Roboto Mono', sans-serif;
}
.project-tile a {
  font-size: 14px;
  font-family: 'Roboto Mono', sans-serif;
}

@media(max-width: 970px) {
  .project-tile{
    min-height: 70vh;
    width: 100%;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    border-radius: 10px;
   }

  .projects {
    min-height: 50vh;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(150px, 45%));
    grid-gap: 10px;
    margin: 20px auto 20px auto;
    padding: 10px 10px;

  }
}

@media(max-width: 660px){
[id] {
	scroll-margin-top: 15em;
}
  .project-tile{
    min-height: 50vh;
    width: 80%;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.6);
    margin: 10px auto 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .projects {
      min-height: 50vh;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  nav {
    flex-direction: column;
  }
  nav a {
    text-align: center;
    font-size: 14px;
    padding: 5px;
  }

  #name {
    font-size: 48px;
  }
  #sub-name {
    font-size: 18px;
  }

  h1, h2, h3, p, ul, li {
    text-align: center;
  }

  .btn {
    font-size: 20px;
    padding: 1rem 0.5rem;
  }
}
